.input-group {
  width: 40em;
  justify-content: center;
  margin: 1em;
  min-height: 4em;
}

.input-group [class^='col'] {
  display: flex;
  margin: 1em;
  align-items: center;
}

.input-group > .col-1 {
  justify-content: flex-end;
}

label {
  font-weight: bold;
}

input {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit-button {
  align-self: center;
  border-radius: 50%;
  min-height: 5em;
  min-width: 5em;
  max-height: 100%;
  max-width: 100%;
  color: white;
  background-color: #08bb87;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(52, 102, 242);
}

@media (max-width: 575px) {
  .input-group {
    width: 100%;
    margin: 0;
  }

  .input-group > .col-1 {
    justify-content: center;
  }

  .submit-button {
    font-size: 2em;
    width: 100%;
    height: 2em;
    border-radius: 6px;
    margin-top: 1em;
    min-height: unset;
  }

  .submit-col {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
}
