version: '3'
services:
  app:
    build: .
    command: pm2-dev ./app/index.js
    environment:
      NODE_ENV: development
    depends_on:
      - mysql
    ports:
      - '4000:4000'
    volumes:
      - .:/home/nodejs/app
      - /home/nodejs/app/node_modules

  mysql:
    build:
      context: ./config/mysql
      args:
        - MYSQL_DATABASE=matter
        - MYSQL_USER=matter_user
        - MYSQL_PASSWORD=pizza123
        - MYSQL_ROOT_PASSWORD=root
    ports:
      - '3306'

  nginx:
    image: nginx:1.15
    links:
      - app
    ports:
      - '80:80'
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
