.toggle-signup {
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: rgb(88, 155, 255);
  padding: 0.75em;
}

.toggle-signup:hover {
  cursor: pointer;
  background-color: rgb(52, 102, 242);
}

.please {
  display: flex;
  align-items: center;
  justify-content: center;
}

.please * {
  margin: 0.5em;
}

.pizza-hero {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 5em;
}

.home-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

.logout-button {
  margin-top: 2em;
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 10px;
  color: black;
  border: 1.5px solid rgb(255, 162, 162);
  background-color: white;
}

.logout-button:hover {
  background-color: rgb(221, 54, 66);
  cursor: pointer;
  color: white;
}

.welcome-heading {
  font-size: 3em;
}

.error {
  color: rgb(221, 54, 66);
  align-self: center;
  text-align: center;
}

@media (max-width: 768px) {
  .home-main {
    padding: 0.75em;
  }
  .logout-button {
    width: 100%;
    margin-bottom: 5%;
  }
}
