.toggle-signup {
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: rgb(88, 155, 255);
  padding: 0.75em;
}

.toggle-signup:hover {
  cursor: pointer;
  background-color: rgb(52, 102, 242);
}

.please {
  display: flex;
  align-items: center;
  justify-content: center;
}

.please * {
  margin: 0.5em;
}

.pizza-hero {
  max-height: 20%;
  max-width: 20%;
  border-radius: 10px;
  overflow: hidden;
}

.home-main {
  flex-flow: column nowrap;
  align-items: center;
}
