.pizza-holder {
  position: relative;
  margin-left: 2em;
}

.topping {
  position: absolute;
  left: 0;
}

.inch-12 {
  height: 14em;
  width: 14em;
}

.inch-14 {
  height: 18em;
  width: 18em;
}

.inch-16 {
  height: 22em;
  width: 22em;
}

.inch-18 {
  height: 26em;
  width: 26em;
}

@media (max-width: 575px) {
  .pizza-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .the-pizza {
    max-width: 100% !important;
  }

  .inch-12 {
    height: 14em;
    width: 14em;
  }

  .inch-14 {
    height: 16em;
    width: 16em;
  }

  .inch-16 {
    height: 18em;
    width: 18em;
  }

  .inch-18 {
    height: 20em;
    width: 20em;
  }
}
