.pizza-col {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 2%;
}

.options-col {
  order: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.order-col {
  order: 3;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.order-now {
  font-size: 2em;
  width: 75%;
  padding: 0.5em;
  border-radius: 12px;
  background-color: #08bb87;
  color: white;
}

.order-now:hover {
  background-color: rgb(52, 102, 242);
  cursor: pointer;
}

@media (max-width: 575px) {
  .order-col {
    order: 2;
    margin: 3em 0;
  }
  .options-col {
    order: 3;
  }
}
