.order-history {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.order-table {
  margin-top: 2%;
  width: 100%;
  border: 1px solid gainsboro;
}

.order-table th {
  background-color: #f6f5f6;
}

.order-table th,
.order-table td {
  text-align: center;
  padding: 0.5em;
}

.order-table .pizzas-cell {
  text-align: left;
}

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3, 3, 3, 0.2);
  }
  td,
  th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3, 3, 3, 0.2);
  }
}
