body {
  margin: 0;
  padding: 0;
  font-family: 'B612', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal-root {
  position: relative;
  z-index: 999;
}
