.topping-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding-left: 0;
  margin-left: 0;
}

.topping-row {
  align-items: center;
  width: 100%;
}

.topping-row * {
  margin-left: 1em;
  margin-right: 1em;
}

.recommended-topping {
  background-color: rgb(88, 155, 255);
  color: white;
  border-radius: 5px;
}

.topping-row button {
  padding: 0.5em;
  border-radius: 8px;
  width: 10em;
}

.topping-col {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .topping-row {
    border-top: 1px solid black;
  }
  .topping-col {
    padding: 0.5em;
    justify-content: center;
    margin: 0;
  }
}

.add-topping {
  background-color: white;
  color: black;
  border: 1.5px solid rgb(162, 204, 255);
}

.add-topping:hover {
  background-color: rgb(52, 102, 242);
  cursor: pointer;
  color: white;
}

.remove-topping {
  background-color: white;
  color: black;
  border: 1.5px solid rgb(255, 162, 162);
}

.remove-topping:hover {
  background-color: rgb(221, 54, 66);
  cursor: pointer;
  color: white;
}
